 <div class="center">
 <form [formGroup]="transferenciaForm" (ngSubmit)="submit()" class="form">

  <label for="documento-destinatario">Cpf do destinatário: </label>
  <input id="documento-destinatario" type="number" formControlName="documentoDestinatario">

    <label for="valor">Quantia a ser transferida: </label>
  <input id="valor" type="number" formControlName="valor">

  <button type="submit" [disabled]="!transferenciaForm.valid">Enviar</button>

  <button >Não tenho conta, fazer cadastro!</button>

</form>



</div>